@font-face {
  font-family: "Martian Grotesk";
  src: url("/fonts/MartianGrotesk-StdRg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Martian Grotesk";
  src: url("/fonts/MartianGrotesk-StdMd.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Martian Grotesk";
  src: url("/fonts/MartianGrotesk-StdBd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}